.container {
  margin: 1.25rem 1rem;

  input {
    background: var(--primary);
    color: var(--text);

    width: 100%;
    padding: .875rem 1.5rem;

    border: none; 
    border-radius: .3125rem;

    line-height: 20px;
    font-family: var(--font);
    font-size: 12px;
    font-weight: 300;
  }
}